<div>
	<h2 id="page-heading" data-cy="LineHeading">
		<span jhiTranslate="unitApp.line.home.title">Lines</span>

		<div class="container-fluid px-0">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div class="col-md-7">
						<select
							class="form-select"
							id="filter-project"
							name="filter-project"
							[(ngModel)]="filterProjectId"
							(ngModelChange)="loadPage(1)"
						>
							<option [ngValue]="undefined" disabled selected jhiTranslate="unitApp.project.home.selector">
								Select Project
							</option>
							<option *ngFor="let project of projectsSharedCollection; trackBy: trackProjectById" [value]="project.id">
								{{ project.name }}
							</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 my-2 my-md-0">
					<div class="d-flex justify-content-md-end">
						<button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
							<fa-icon icon="sync" [spin]="isLoading"></fa-icon>
							<span jhiTranslate="unitApp.line.home.refreshListLabel">Refresh List</span>
						</button>

						<button
							id="jh-create-entity"
							data-cy="entityCreateButton"
							class="btn btn-primary jh-create-entity create-line"
							[routerLink]="['/line/new']"
						>
							<fa-icon icon="plus"></fa-icon>
							<span jhiTranslate="unitApp.line.home.createLabel"> Create a new Line </span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</h2>

	<jhi-alert-error></jhi-alert-error>

	<jhi-alert></jhi-alert>

	<div class="alert alert-warning" id="no-result" *ngIf="lines?.length === 0">
		<span jhiTranslate="unitApp.line.home.notFound">No lines found</span>
	</div>

	<div class="table-responsive" id="entities" *ngIf="lines && lines.length > 0">
		<table class="table table-striped" aria-describedby="page-heading">
			<thead>
				<tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
					<th scope="col" jhiSortBy="id">
						<span jhiTranslate="global.field.id">ID</span>
						<fa-icon icon="sort"></fa-icon>
					</th>
					<th scope="col" jhiSortBy="tag">
						<span jhiTranslate="unitApp.line.tag">Tag</span>
						<fa-icon icon="sort"></fa-icon>
					</th>
					<th scope="col" jhiSortBy="revision">
						<span jhiTranslate="unitApp.line.revision">Revision</span>
						<fa-icon icon="sort"></fa-icon>
					</th>
					<th scope="col" jhiSortBy="status">
						<span jhiTranslate="unitApp.line.status">Status</span>
						<fa-icon icon="sort"></fa-icon>
					</th>
					<th scope="col" jhiSortBy="block.number">
						<span jhiTranslate="unitApp.line.block">Block</span>
						<fa-icon icon="sort"></fa-icon>
					</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let line of lines; trackBy: trackId" data-cy="entityTable">
					<td>
						<a [routerLink]="['/line', line.id, 'view']">{{ line.id }}</a>
					</td>
					<td>{{ line.tag }}</td>
					<td>{{ line.revision }}</td>
					<td jhiTranslate="{{ 'unitApp.StatusLine.' + line.status }}">{{ line.status }}</td>
					<td>
						<div *ngIf="line.block">
							<a [routerLink]="['/block', line.block?.id, 'view']">{{ line.block?.number }}</a>
						</div>
					</td>
					<td class="text-end">
						<div class="btn-group">
							<button
								type="submit"
								[routerLink]="['/line', line.id, 'view']"
								class="btn btn-success btn-sm"
								data-cy="entityDetailsButton"
							>
								<fa-icon icon="eye"></fa-icon>
								<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
							</button>

							<button
								type="submit"
								[routerLink]="['/line', line.id, 'edit']"
								class="btn btn-warning btn-sm"
								data-cy="entityEditButton"
							>
								<fa-icon icon="pencil-alt"></fa-icon>
								<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
							</button>

							<button
								type="submit"
								(click)="delete(line)"
								class="btn btn-outline-danger btn-sm"
								data-cy="entityDeleteButton"
							>
								<fa-icon icon="trash-alt"></fa-icon>
								<span class="d-none d-md-inline" jhiTranslate="entity.action.annul">Delete</span>
							</button>

							<button type="submit" (click)="delete(line)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
								<fa-icon icon="times"></fa-icon>
								<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div *ngIf="lines && lines.length > 0">
		<div class="d-flex justify-content-center">
			<jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
		</div>

		<div class="d-flex justify-content-center">
			<ngb-pagination
				[collectionSize]="totalItems"
				[(page)]="ngbPaginationPage"
				[pageSize]="itemsPerPage"
				[maxSize]="5"
				[rotate]="true"
				[boundaryLinks]="true"
				(pageChange)="loadPage($event)"
			></ngb-pagination>
		</div>
	</div>
</div>
