<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="priorityPunch">
      <h2 data-cy="priorityPunchDetailsHeading"><span jhiTranslate="unitApp.priorityPunch.detail.title">Priority Punch</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ priorityPunch.id }}</span>
        </dd>
        <dt><span jhiTranslate="unitApp.priorityPunch.priority">Priority</span></dt>
        <dd>
          <span>{{ priorityPunch.priority }}</span>
        </dd>
        <dt><span jhiTranslate="unitApp.priorityPunch.name">Name</span></dt>
        <dd>
          <span>{{ priorityPunch.name }}</span>
        </dd>
        <dt><span jhiTranslate="unitApp.priorityPunch.description">Description</span></dt>
        <dd>
          <span>{{ priorityPunch.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/priority-punch', priorityPunch.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
